In [2]:
import pandas as pd

# Load Scope 3 files
fertilizer_df = pd.read_excel("raw_data/fertilizer.xlsx")
trading_df = pd.read_excel("raw_data/trading_and_imports.xlsx")
transport_df = pd.read_excel("raw_data/upstream_transportation.xlsx")
waste_df = pd.read_excel("raw_data/waste_disposal.xlsx")
travel_df = pd.read_excel("raw_data/business_travel.xlsx")
warehouse_df = pd.read_excel("raw_data/warehousing_spend.xlsx")

# Preview top 5 rows for each
print("ðŸ“„ fertilizer.xlsx")
display(fertilizer_df.head())

print("\nðŸ“„ trading_and_imports.xlsx")
display(trading_df.head())

print("\nðŸ“„ upstream_transportation.xlsx")
display(transport_df.head())

print("\nðŸ“„ waste_disposal.xlsx")
display(waste_df.head())

print("\nðŸ“„ business_travel.xlsx")
display(travel_df.head())

print("\nðŸ“„ warehousing_spend.xlsx")
display(warehouse_df.head())
print("warehousing_spend.xlsx:", warehouse_df.shape)

ðŸ“„ fertilizer.xlsx

,Plant,Posting Date,Material,Material Description,Qty in Un. of Entry,Unit of Entry,Storage Location
0,1920,2021-10-29,20001189,CRF Fertilizer,1516.80,KG,DV02
1,1920,2021-10-19,20001189,Coated Urea,508301.50,KG,DV06
2,1920,2021-10-01,20001189,Fertilizer Copper Sulfate cuso4,25.00,KG,DV01
3,1920,2021-09-30,20001189,Kieserite Fertilizer,111902.30,KG,DV07
4,1920,2021-09-25,20001189,NPK Compound Fertilizer 15.15.6.4,7006.39,KG,DV01

ðŸ“„ trading_and_imports.xlsx

,#,Fiscal Year,BU,Material,Material Type,Product Name,Origin,Volume(mt),CFR unit price/mt,Total (USD)
0,1,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,500,2600.0,1300000.0
1,2,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,100,2700.0,270000.0
2,3,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Indonesia,28,5660.0,158480.0
3,4,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,150,2340.0,351000.0
4,5,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,350,2900.0,1015000.0

ðŸ“„ upstream_transportation.xlsx

,Time period,BU,Material,Material Type,Product Name,Origin,Export Port,Import Port,Volume(mt),distance(km),Container
0,2021,BU5,Sesame,Raw Material,Sesame,Myanmar,Yangon,Kobe,300,7035.748,Dry
1,2021,BU5,Sesame,Raw Material,Sesame,Myanmar,Yangon,Osaka,200,7050.564,Dry
2,2021,BU5,Sesame,Raw Material,Sesame,Myanmar,Yangon,Nagoya,300,7200.576,Dry
3,2021,BU5,Sesame,Raw Material,Sesame,Myanmar,Yangon,Yokohama,300,7398.740,Dry
4,2021,BU6,Cocoa,Raw Material,Cocoa Beans,Indonesia,Ujung Pandang,Yokohama,28,5207.824,Dry

ðŸ“„ waste_disposal.xlsx

,Timeperiod,BU,Material,Material Type,Product Name,Warehouse Site Location,Disposal method,annual Quantity(MT)
0,2021,BU1,Sesame,Raw Material,Sesame,Kobe,incineration,70
1,2021,BU1,Sesame,Raw Material,Sesame,Yokohama,incineration,30
2,2021,BU1,Sesame,Raw Material,Sesame,Nagoya,incineration,220
3,2021,BU1,Sesame,Raw Material,Sesame,Yokohama,incineration,30
4,2021,BU2,Cocoa,Processed goods,Cocoa powder,Kobe,composting,200

ðŸ“„ business_travel.xlsx

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,"For this data, the emission factor values and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,CO2 Emission Factor (kg/unit),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Source: United States Environmental Protection...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Air Travel - Short Haul (< 300 miles) =,0.207,passenger - mile,NaN,NaN,NaN,NaN,NaN

ðŸ“„ warehousing_spend.xlsx

,Fiscal Year,BU,Material,Mateial Type,Product Name,Warehouse Site Location,annual Quantity (mt),warehouse Spend $/mt,warehouse Spend (KXM)
0,2021,BU1,Coffee,Raw Material,Coffee Bean,Yokohama,14300,86.5,1236950.0
1,2021,BU1,Coffee,Raw Material,Coffee Bean,Nagoya,400,86.5,34600.0
2,2021,BU1,Coffee,Raw Material,Coffee Bean,Kobe,4500,86.5,389250.0
3,2021,BU1,Coffee,Raw Material,Coffee Bean,Fukuoka,1100,86.5,95150.0
4,2021,BU1,Coffee,Raw Material,Coffee Bean,Fukuoka,1500,86.5,129750.0

warehousing_spend.xlsx: (48, 9)

#### trading_and_imports.xlsx

In [3]:
trading_df[]

,#,Fiscal Year,BU,Material,Material Type,Product Name,Origin,Volume(mt),CFR unit price/mt,Total (USD)
0,1,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,500,2600.0,1300000.0
1,2,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,100,2700.0,270000.0
2,3,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Indonesia,28,5660.0,158480.0
3,4,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,150,2340.0,351000.0
4,5,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,350,2900.0,1015000.0
...,...,...,...,...,...,...,...,...,...,...
69,70,2021,BU4,Sesame,Raw Material,Sesame,Burkina Faso,5500,1298.0,7139000.0
70,71,2021,BU4,Sesame,Raw Material,Sesame,US,4500,1348.0,6066000.0
71,72,2021,BU4,Sesame,Raw Material,Sesame,Paraguay,3000,1801.0,5403000.0
72,73,2021,BU4,Sesame,Raw Material,Sesame,Tanzania,2500,1298.0,3245000.0
73,74,2021,BU4,Sesame,Raw Material,Sesame,Myanmar,1100,2117.0,2328700.0

In [4]:
trading_df["Material"].value_counts()

Material
Cocoa     29
Coffee    29
Spice      6
Sesame     6
Nuts       4
Name: count, dtype: int64

### AGRIBALYSE file

In [13]:
# Load AGRIBALYSE file
agribalyse_path = "guides_and_dbs/AGRIBALYSE3.0.1_vf.xlsm"

# Step 1: Load using header from row 1 (row index = 1)
agribalyse_df = pd.read_excel(agribalyse_path, sheet_name="Synthese", header=1)

# Step 2: Drop first row of data (metadata)
agribalyse_df = agribalyse_df.iloc[1:]

# Step 3: Rename important columns for clarity
agribalyse_df = agribalyse_df.rename(columns={
    agribalyse_df.columns[4]: "Product Name (FR)",
    agribalyse_df.columns[5]: "Product Name (EN)",
    "Changement climatique (kg CO2 eq/kg de produit)": "Emission Factor (kg CO2e/kg)"
})


keywords = ["cocoa", "coffee", "sesame", "nut", "spice"]

for keyword in keywords:
    df = agribalyse_df[
        agribalyse_df["Product Name (EN)"].str.lower().str.contains(keyword)
    ][["Product Name (EN)", "Emission Factor (kg CO2e/kg)"]]
    
    # Dynamically assign the DataFrame to a variable with the name like 'cocoa_df'
    globals()[f"{keyword}_df"] = df

### Trading_df

In [37]:
# Define the keywords (material types)
keywords = ["cocoa", "coffee", "sesame", "nuts", "spice"]

# Loop through each keyword and filter trading_df
for keyword in keywords:
    df = trading_df[trading_df["Material"].str.lower() == keyword]
    globals()[f"trading_{keyword}_df"] = df

display(trading_nuts_df)

,#,Fiscal Year,BU,Material,Material Type,Product Name,Origin,Volume(mt),CFR unit price/mt,Total (USD)
58,59,2021,BU10,Nuts,Raw Material,Almond Whole,US,605,5952.42,3601214.10
59,60,2021,BU10,Nuts,Raw Material,Cashew Nuts Whole,Vietnam,396,7716.10,3055575.60
60,61,2021,BU10,Nuts,Raw Material,Almond Whole,US,853,5731.96,4889361.88
61,62,2021,BU10,Nuts,Raw Material,Cashew Nuts Whole,Vietnam,422,8157.02,3442262.44

In [15]:
cocoa_emission_factors = {
    "Cocoa Beans": 26.447131,      # Closest match â†’ cocoa powder
    "Cocoa Butter": 26.580789,     # Exact match
    "Cocoa Powder": 26.447131      # Exact match
}

In [17]:
coffee_emission_factors = {
    "Coffee Bean": 9.399578,        # Closest match â†’ 'Coffee, ground'
    "Instant Coffee": 24.462185,    # Exact match â†’ 'Coffee, powder, instant'
    "Liquid Coffee": 1.435118       # Closest match â†’ 'Instant coffee, ready-to-drink'
}

In [21]:
sesame_emission_factors = {
    "Sesame": 6.063912  # Exact match â†’ 'Sesame seed'
}

In [39]:
nut_emission_factors = {
    "Almond Whole": 5.050651,       # Proxy â†’ cereal bar with almonds
    "Cashew Nuts Whole": 5.050651   # Same proxy â€” lacking specific cashew value
}

In [41]:
nut_emission_factors = {
    "Almond Whole": 5.050651,       # Proxy â†’ cereal bar with almonds
    "Cashew Nuts Whole": 5.050651   # Same proxy â€” lacking specific cashew value
}

In [44]:
spice_emission_factors = {
    "Dehydrated Onion": 0.882389,   # Closest proxy - mix of 4 spices
    "Pepper": 0.882389              # Closest proxy - mix of 4 spices
}

### Calculations and Summary for Trading_df

In [46]:
# Combine all trading DFs and emission factor dictionaries
trading_dfs = {
    "cocoa": (trading_cocoa_df, cocoa_emission_factors),
    "coffee": (trading_coffee_df, coffee_emission_factors),
    "sesame": (trading_sesame_df, sesame_emission_factors),
    "nuts": (trading_nut_df, nut_emission_factors),
    "spice": (trading_spice_df, spice_emission_factors)
}

# Store total emissions
summary_scope3_1 = {}

# Loop through each category
for key, (df, factors) in trading_dfs.items():
    col = f"Emissions: {key.title()} (tCO2e)"
    if col in df.columns:
        summary_scope3_1[key] = df[col].sum()

# Convert to DataFrame
import pandas as pd
scope3_1_summary_df = pd.DataFrame.from_dict(summary_scope3_1, orient="index", columns=["Total Emissions (tCO2e)"])
scope3_1_summary_df.index.name = "Category"

# Show the summary
scope3_1_summary_df

          Total Emissions (tCO2e)
Category
cocoa               387230.293663
coffee              598008.072900
sesame              312897.859200
nuts                     0.000000
spice                 2562.457656

In [51]:
import pandas as pd

# Bundle trading DFs and emission factors
trading_dfs = {
    "cocoa": (trading_cocoa_df, cocoa_emission_factors),
    "coffee": (trading_coffee_df, coffee_emission_factors),
    "sesame": (trading_sesame_df, sesame_emission_factors),
    "nuts": (trading_nut_df, nut_emission_factors),
    "spice": (trading_spice_df, spice_emission_factors)
}

# Store emissions per product
product_emissions = []

# Loop and group only by Product Name (drop Category label)
for category, (df, ef_dict) in trading_dfs.items():
    emission_col = f"Emissions: {category.title()} (tCO2e)"
    if emission_col not in df.columns:
        continue

    # Group by product name
    grouped = df.groupby("Product Name")[emission_col].sum().reset_index()
    product_emissions.append(grouped)

# Combine all product-level results
scope3_1_product_df = pd.concat(product_emissions, ignore_index=True)

# Rename column to be consistent
emission_col_name = [col for col in scope3_1_product_df.columns if "Emissions" in col][0]
scope3_1_product_df.rename(columns={emission_col_name: "Total Emissions (tCO2e)"}, inplace=True)

# Sort and display
scope3_1_product_df.sort_values("Total Emissions (tCO2e)", ascending=False)

,Product Name,Total Emissions (tCO2e),Emissions: Coffee (tCO2e),Emissions: Sesame (tCO2e),Emissions: Nuts (tCO2e),Emissions: Spice (tCO2e)
2,Cocoa Powder,239822.583908,NaN,NaN,NaN,NaN
0,Cocoa Beans,80743.090943,NaN,NaN,NaN,NaN
1,Cocoa Butter,66664.618812,NaN,NaN,NaN,NaN
3,Coffee Bean,NaN,485958.1826,NaN,NaN,NaN
4,Instant Coffee,NaN,95402.5215,NaN,NaN,NaN
5,Liquid Coffee,NaN,16647.3688,NaN,NaN,NaN
6,Sesame,NaN,NaN,312897.8592,NaN,NaN
7,Dehydrated Onion,NaN,NaN,NaN,NaN,2366.567298
8,Pepper,NaN,NaN,NaN,NaN,195.890358

In [52]:
trading_cocoa_df

,#,Fiscal Year,BU,Material,Material Type,Product Name,Origin,Volume(mt),CFR unit price/mt,Total (USD),Emissions: Cocoa (tCO2e)
0,1,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,500,2600.0,1300000.0,13223.565500
1,2,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,100,2700.0,270000.0,2644.713100
2,3,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Indonesia,28,5660.0,158480.0,740.519668
3,4,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Cameroon,150,2340.0,351000.0,3967.069650
4,5,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,350,2900.0,1015000.0,9256.495850
5,6,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ecuador,25,2900.0,72500.0,661.178275
6,7,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,100,2900.0,290000.0,2644.713100
7,8,2021,BU10,Cocoa,Raw Material,Cocoa Beans,Ghana,1800,2700.0,4860000.0,47604.835800
8,9,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Singapore,100,6000.0,600000.0,2658.078900
9,10,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Singapore,140,5200.0,728000.0,3721.310460
10,11,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Malaysia,220,4720.0,1038400.0,5847.773580
11,12,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Singapore,262,5100.0,1336200.0,6964.166718
12,13,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,France,80,6580.0,526400.0,2126.463120
13,14,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Netherlands,36,5930.0,213480.0,956.908404
14,15,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Malaysia,60,5650.0,339000.0,1594.847340
15,16,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Singapore,40,4620.0,184800.0,1063.231560
16,17,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Malaysia,140,5480.0,767200.0,3721.310460
17,18,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Netherlands,470,5800.0,2726000.0,12492.970830
18,19,2021,BU10,Cocoa,Processed Goods,Cocoa Butter,Singapore,960,5125.0,4920000.0,25517.557440
19,20,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Singapore,1050,2670.0,2803500.0,27769.487550
20,21,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Indonesia,114,2200.0,250800.0,3014.972934
21,22,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Netherlands,1900,3550.0,6745000.0,50249.548900
22,23,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Malaysia,466,2320.0,1081120.0,12324.363046
23,24,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Germany,198,2810.0,556380.0,5236.531938
24,25,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Singapore,1628,2940.0,4786320.0,43055.929268
25,26,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Indonesia,168,2680.0,450240.0,4443.118008
26,27,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Netherlands,2692,3790.0,10202680.0,71195.676652
27,28,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Malaysia,690,2810.0,1938900.0,18248.520390
28,29,2021,BU10,Cocoa,Processed Goods,Cocoa Powder,Germany,162,3000.0,486000.0,4284.435222